.nav-link{
    display: inline-block;
    box-sizing: border-box;
    width: 120px;
    padding: 5px;
    margin: 0 6px 6px;
    background: #A0C3D2;
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    color: white;
}

.active {
    color: rgb(86, 123, 141);
}