.cards {
  object-position: bottom 200px;
  display: grid;
  grid-template-columns: repeat(3, minmax(230px, 1fr));
  grid-gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
}

.card img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}