body {
  background-color: #F7F5EB;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(230px, 1fr));
  grid-gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
}

.card img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.admin{
  color: black;
}

.name-input{
  margin:15px;
  padding:10px;
  border-radius:10px;
  border-color: #eac7c7;
  background-color: #F7F5EB;
}

.image-input{
  margin:15px;
  padding:10px;
  border-radius:10px;
  border-color: #eac7c7;
  background-color: #F7F5EB;
}

.description-input{
  margin:15px;
  padding:10px;
  border-radius:10px;
  border-color: #eac7c7;
  background-color: #F7F5EB;
}

.price-input{
  margin:15px;
  padding:10px;
  border-radius:10px;
  border-color: #eac7c7;
  background-color: #F7F5EB;
}

.add-product-form{
  border: 4px solid rgb(234, 224, 218);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.submit-new-button{
  padding:10px;
  border:none;
  background-color: #eac7c7;
  color: white;
  font-weight:600;
  border-radius:5px;
  width:80%;
  margin: 10px;
}

.category-select{
  background-color: #eac7c7;
  text-align: center;
  width: 50%;
  padding:10px;
  border-radius:10px;
  margin: 10px;
}

.new-product-card{
  border: 4px solid rgb(234, 224, 218);
  position: relative;
  top: 100px;
  left: 500px;
  width: 400px;
  height: 400px;
}

.new-product-image{
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.add-product-title{
  color: #e58080;
}

.product-card{
  position: relative;
  top: 100px;
  left: 500px;
  width: 400px;
  height: 400px;
}

.product-img{
  position: relative;
  right: 500px;
  bottom: 180px;
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.store-name{
  color: #3d7e9f;
  object-position: absolute;
  left: 100px;

}

.add-to-cart-btn{
  padding:10px;
  border:none;
  background-color:#A0C3D2;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:100%;
}

.in-cart-btn{
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:100%;
}

.filter-category-btn{
  padding:5px;
  border:none;
  background-color: #A0C3D2;
  color: white;
  font-weight:600;
  border-radius:5px;
  width:10%;
  margin: 10px;
}

.searchbar-input{
  margin:15px;
  padding:5px;
  border-radius:10px;
  border-color: #728f9c;
  background-color: #F7F5EB;
}